CompileFlags:
  Add:
    - -std=c++20
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wno-missing-field-initializers
    - -Wno-unused-parameter
  Remove:
    # Remove PCH-related flags that clangd doesn't support
    - -Winvalid-pch
    - -fpch-instantiate-templates
    - -include-pch
    - -emit-pch
    - "-Xclang"
  CompilationDatabase: .
    
Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - readability-*
      - cppcoreguidelines-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers
      - cppcoreguidelines-avoid-magic-numbers
      
Index:
  Background: Build
  StandardLibrary: Yes